<ActionBar>
    <!-- 
    Use the NavigationButton as a side-drawer button in Android
    because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <!-- 
    Use the ActionItem for IOS with position set to left. Using the
    NavigationButton as a side-drawer button in iOS is not possible,
    because its function is to always navigate back in the application.
    -->
    <ActionItem icon="res://menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
        ios.position="left">
    </ActionItem>
    <Label text="listado"></Label>
</ActionBar>

<StackLayout class="page__content">
    <Label class="page__content-icon fas" text="&#xf002;"></Label>
    
    <PullToRefresh
        (refresh)="onPull($event)"
        indicatorFillColor="#fff000"
        indicatorColor="#3489db"
    >
        <ListView class="list-group" [items]="this.noticias.buscar()" (itemTap)="onItemTap($event)" (tap)="onItemTap()"
        style="height: 1250px;">
            <ng-template let-x="item">
                <FlexboxLayout flexDirection="row" class="list-group-item">
                    <image src="res://icon" class="thumb img-circle"></image>
                    <label [text]="x" class="list-group-item-heading" verticalAlignment="center" style="width: 60%;"></label>
                </FlexboxLayout>
            </ng-template>
        </ListView>
    </PullToRefresh> 


</StackLayout>